<?xml version="1.0"?>

<launch>

  <arg name="model" default="$(find r2d2)/urdf/r2d2.gazebo" />
  <arg name="rviz" default="false" />


  <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>

  <!-- Load the parameter conf file for the 'joint_state_publisher' -->
  <!-- <rosparam command="load" file="$(find r2d2)/conf/joint_state_publisher.yaml" ns="joint_state_publisher" /> -->

  <rosparam command="load" file="$(find r2d2)/conf/controllers.yaml" />

  <rosparam file="$(find r2d2)/conf/control_steer_bot_hardware_gazebo.yaml" command="load" />
  <rosparam command="load" file="$(find r2d2)/conf/ctrl_gains.yaml" />

  <!-- Load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" output="screen"  args="

      joint_state_controller

      ackermann_steering_controller

" respawn="false" ns="/r2d2" >
  </node>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <!-- When this is enabled, front wheels don't show up in Rviz :/ -->
    <!-- <remap from="/joint_states" to="/r2d2/joint_states" /> -->
  </node>

  <node pkg="rqt_robot_steering" type="rqt_robot_steering" name="rqt_robot_steering" >
    <param name="default_topic" value="/r2d2/ackermann_steering_controller/cmd_vel"/>
  </node>

  <!-- We resume the logic in gazebo_ros package empty_world.launch, -->
  <!-- changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="worlds/willowgarage.world"/>
   
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
  </include>

  <!-- <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/> -->

  <!-- Mapping -->
  <arg name="set_base_frame" default="base_link" />
  <arg name="set_odom_frame" default="odom" />
  <arg name="set_map_frame" default="map" />
  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping">
    <param name="base_frame" value="$(arg set_base_frame)" />
    <param name="odom_frame" value="$(arg set_odom_frame)" />
    <param name="map_frame" value="map" />
  </node>
  <!-- AMCL -->
  <!-- <include file="$(find r2d2)/launch/amcl.launch"/> -->

  <!-- move_base -->
  <!-- <include file="$(find virtual_slam)/launch/move_base.launch"> -->
  <!--   <arg name="move_forward_only" value="$(arg move_forward_only)"/> -->
  <!-- </include> -->


  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -model r2d2 -x 0 -y 0 -z 1 -R 0 -P 0 -Y 0 -urdf" output="screen" />

  <group if="$(arg rviz)">
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find r2d2)/rviz/navigation.rviz" />
  </group>

</launch>
