<?xml version="1.0"?>

<launch>

  <arg name="model" default="$(find r2d2)/urdf/r2d2.gazebo" />
  <arg name="rviz" default="false" />


  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)"/>

  <!-- We resume the logic in gazebo_ros package empty_world.launch, -->
  <!-- changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find gazebo_basics)/worlds/gopigo.world"/>
   
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>

  </include>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -model r2d2 -x 0 -y 0 -z 0 -urdf" output="screen" />

  <group if="$(arg rviz)">
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find r2d2)/rviz/r2d2.rviz" />
  </group>

</launch>
