<?xml version="1.0"?>

<launch>

  <arg name="model" default="$(find r2d2)/urdf/r2d2.gazebo" />
  <arg name="rviz" default="false" />


  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)"/>

  <!-- Load the parameter conf file for the 'joint_state_publisher' -->
  <!-- <rosparam command="load" file="$(find r2d2)/conf/joint_state_publisher.yaml" ns="joint_state_publisher" /> -->

  <rosparam command="load" file="$(find r2d2)/conf/controllers.yaml" />

  <!-- Load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" output="screen"  args="

      ackermann_steering_controller

      joint_state_controller
" respawn="false" ns="/r2d2" >
  </node>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <!-- When this is enabled, front wheels don't show up in Rviz :/ -->
    <!-- <remap from="/joint_states" to="/r2d2/joint_states" /> -->
  </node>

  <!-- We resume the logic in gazebo_ros package empty_world.launch, -->
  <!-- changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find gazebo_basics)/worlds/gopigo.world"/>
   
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
  </include>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -model r2d2 -x 0 -y 0 -z 1 -R 0 -P 0 -Y 0 -urdf" output="screen" />

  <group if="$(arg rviz)">
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find r2d2)/rviz/r2d2.rviz" />
  </group>

</launch>
